.App {
  text-align: center;
  display: a;
  background-color: darkgray;
  height:auto;
  width: auto;
}

.Select{
  display: inline-flex;
  text-align: center;
  margin: 0px;

  padding: 20px;
}
.SelectLegue{
  display: flex;
  text-align: center;
  margin-left: 40px;
}
